@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
}
.aside {
  height: 400px;
}
.main {
  height: 400px;
}
.d-flex {
  display: flex;
}
.task-title {
  font-weight: 400;
  padding: 5px;
  margin: 0 10px 0 0;
  width: 100%;
}
.gray {
  color: #bdbdbd;
}
.task-title--done {
  text-decoration: line-through;
  color: #3b3838;
  border-width: 2px;
  border-color: #42be2a;
  opacity: 0.5;
}
.list-group-item--done {
  border-width: 2px;
  border-color: #42be2a;
  opacity: 0.5;
}
.task-item__buttons {
  display: flex;
  column-gap: 5px;
}
.notify-holder {
  height: 60px;
  margin-bottom: 20px;
}
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.empty-list__title {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 300;
}
.empty-list__icon {
  color: #42be2a;
  font-size: 32px;
}

#btn-action {
  background-color: #e0e5ea;
  padding: 8px 10px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: opacity 0.2s ease-in;
  opacity: 0.5;

  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-action:hover {
  background-color: #e0e5ea;
  opacity: 1;
}

#btn-action img {
  pointer-events: none;
}

.none {
  display: none !important;
}

.float-right {
  float: right;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 8px;
  margin-top: 8px;
  border-radius: 4px;
}
